In [3]:
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from ipywidgets import interact

conn = sqlite3.connect('failure.db')
df = pd.read_sql_query("SELECT * FROM Failure", conn)

df.head()
df.info()
df.describe()

#Create a function for histogram with interactive feature
def histogram(column):
    plt.hist(df[column])
    plt.xlabel(column)
    plt.ylabel("Frequency")

# Let's see the distribution of car models
sns.countplot(x='model', data=df)
plt.show()

DatabaseError: Execution failed on sql 'SELECT * FROM failures': no such table: failures